<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"> -->
<style>
body{
    background: #5B5A5B
}
img{
    border: 3px solid orange;
    padding: 5px;
}
p{
    color: white;
}
label{
    color: white;
}
.center { 
    height: 650px;
    position: relative;
}

.center form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
</style>
</head>
<body>

    <div>
          <div class="center">
              {% if msg=="invalid" %}
              <P>Username or password is not correct</P>
              {% endif %}
                        <form action="/logged_in" method="post" style="text-align: center;">
                            <label for="username" style="margin-top: 20px; margin-bottom: 20px;">username &nbsp;&nbsp;</label>
                            <input type="text" name="username" style="width: 300px;"/><br />
                            <label for="password" style="margin-top: 20px; margin-bottom: 20px;">Password &nbsp;&nbsp;</label>
                            <input type="password" name="password" style="width: 300px;"/><br />
                            <input type="submit" value="submit">
                        </form>

                </div>
    </div>
</body>
</html>